html{
    background-color: #dedede;
}

.primary   
{
    background-color: #982121;
    color: white;
}

.secondary
{
    background-color: #FF611D;
    color: black;
}

.warning{
    background-color: #EBBD45;
    color: black;
}

.success {
    background-color: #38B4A0;
    color: white;
}

div[class*="MuiBottomNavigation"] {
    background-color: #982121;
    color: white;
}

div[class*="MuiBottomNavigation"] > button {
    color: inherit;
}

div[class*="MuiDrawer-paperAnchorLeft"] {
    width: 80%;
    background-color: #982121;
    border-radius: 0% 5% 5% 0%;
}

div[class*="MuiDrawer-paperAnchorRight"] {
    width: 80%;
    background-color: #982121;
    border-radius: 5% 0% 0% 5%;
}

div[class*="MuiDrawer-paperAnchorBottom"] {
    height: 30%;
    background-color: #982121;
    border-radius: 5% 5% 0% 0%;
}